*{
    background-color: bisque;
}
h1{
    background-color: blueviolet;
}
.text > p{
    background-color: chartreuse;
}
#work {
    color: brown;
}
.text> a > span{
    color: chartreuse;

}
.list li{
    color: chocolate;
}
.heading+p {
    color: cornflowerblue;
}