@font-face{
    font-family: poppin;
    src: font;
}

    

 
.navbar{
    background-color:#164d34 ;
    height: 60px;
}
.navbar-brand{
    color:white;
    font-weight: bold;
    
}
.btn-primary{
    background-color:#164d34 ;
    border-color:#164d34 ;

}
.btn-primary:hover{
  background-color:#164d34 ;
    border-color:#164d34 ;   
}

  .btn-primary:active{
  background-color:#164d34 !important ;
    border-color:#164d34 !important;   
}
@media only screen and(max-width:500px) {
    .main{
        padding: 10px 4px !important;
    }
}
  
