


.navbar  {
    background-color:#553f5d!important ;
    height: 80px;
}
.navbar-brand {
    color:white !important;
    font-weight: bold;
}
.btn-primary {

background-color: white !important ;
color:#553f5d !important;
}
.btn-primary :focus {
    background-color: white !important;
color:#553f5d !important;

}
.form-select{
    width: 200px !important;
    
}

.black {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color:black;
}

.red {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color:red;
}

.white {
    width: 15px;
    height: 15px;
    background-color:white;
    border-radius: 10px;
}
@media (max-width:600px) {
    
    .navbar  ul{

    }
}

