#abc {
    visibility: hidden;
}
h1{
    display: inline-block;
    background-color: darkorange;
    width: 100px;
}
button{
    background-color: blue;
    width: 70px;
}




    

ul >li {
    display: inline-block;
    background-color: yellow;
    width: 250px;
    text-align: right;
    text-align: center;
}

.box {
   
    background-color: blue;

    height: 500px;
}

.child {
    background-color: yellow;
    width: 50%;
    height: 20%;
}

.slider {
    min-width: 800px;
    min-height: 300px;

}

.slider>img {

    width: 60%;
    height: 400px;
}



.content {
   
    background-color: orange;
    width: 40%;

    /* min-height: 100px;
    max-height: 300px;
    overflow-y :hidden; */
    padding: 20px ;
    text-align: center;
    box-shadow: 2px 2px 20px black;

    /* margin-bottom: 10px; */
    /* margin: 10px auto; */
    margin-bottom: 20px;
    border-radius: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: blueviolet;
}
div{


    display: inline-block;


    
    
    background-color: purple;
   border-width: 5px;
   border-color: black;
   border-style:solid;
   border-radius: 15px;
   width: 40%;
   margin: 10px;
   text-align: center;


    
    /* background-color: chartreuse;
     background-color: purple;
   border-width: 10px;
   border-color: black;
   border-style:solid;
   border-radius: 15px;
   width: 40%; */
}






