
/* 
/* .parent {
    background-color: aquamarine;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50px;
    top: 0px;
}

.red {
    background-color: red;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 110px;
    top:-15px;
/* }
.green{
    background-color:green;
    width: 50px;
    height: 50px;
    position: relative;
    top: 0px ; */
    /* left: 50px;
}
.black {
    background-color:black;
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 0px;
    left: 15px; */
/* }  */

.parent {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    /* justify-content:flex-end;
    align-items:; */

  /* overflow: scroll; */

}
.box{
    /* height: 80px;
    width: 80px; */
}
.red{
    background-color: red;
    flex: 1;
    display :flex;
    justify-content:space-around ;
    align-items: center;
    font-size:24px;
    color:white ;
}
.green {
    background-color: green;
    flex:15
}
.black {
    background-color: black;
    flex:4
}