



.navbar{
     
    background-color:#3700b3 ;
    height: 80px;
    color: white;
    font-weight: bold;
    font-size: large;
}
.box,p {
   margin: auto;
   margin-top: 50px;
}


.box,p{
  
   border: 2px groove royalblue;
   /* margin: auto; */
   text-align: center;
   width: 50%;
   /* height: 60px; */
   border-radius: 40px;
}


   



#btn{
    margin: auto; 
   align-items: center;

    background-color: #3700b3 !important;
    color: white !important;
    font-weight: bold !important;
   /* text-align: center; */
}
